<mat-toolbar color="primary" class="avaliacao-toolbar">
  <div class="toolbar-content">
    <span class="toolbar-title">Gerenciamento de Avaliações</span>
    <button mat-fab color="accent" class="add-button" 
            [routerLink]="['new']" matTooltip="Adicionar nova avaliação">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="table-container">
  @if (isLoading) {
    <div class="loading-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  } @else {
    <table mat-table [dataSource]="avaliacoes" class="mat-elevation-z8">
      
      <!-- Coluna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="column-id">ID</th>
        <td mat-cell *matCellDef="let element" class="column-id">{{element.id}}</td>
      </ng-container>

      <!-- Coluna Usuário -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef class="column-usuario">Usuário</th>
        <td mat-cell *matCellDef="let element" class="column-usuario">{{element.usuario}}</td>
      </ng-container>

      <!-- Coluna Placa -->
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef class="column-placa">Placa de Vídeo</th>
        <td mat-cell *matCellDef="let element" class="column-placa">{{element.placaDeVideo}}</td>
      </ng-container>

      <!-- Coluna Nota -->
      <ng-container matColumnDef="nota">
        <th mat-header-cell *matHeaderCellDef class="column-nota">Nota</th>
        <td mat-cell *matCellDef="let element" class="column-nota">
          @if (element.valorNota) {
            <span class="nota-badge">{{element.valorNota}}</span>
          } @else {
            <span>-</span>
          }
        </td>
      </ng-container>

      <!-- Coluna Comentário -->
      <ng-container matColumnDef="comentario">
        <th mat-header-cell *matHeaderCellDef class="column-comentario">Comentário</th>
        <td mat-cell *matCellDef="let element" class="column-comentario">{{element.comentario | truncate:30}}</td>
      </ng-container>

      <!-- Coluna Data -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef class="column-data">Data</th>
        <td mat-cell *matCellDef="let element" class="column-data">
          {{element.dataCriacao | date: 'dd/MM/yyyy'}}
        </td>
      </ng-container>

      <!-- Coluna Ações -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef class="column-actions">Ações</th>
        <td mat-cell *matCellDef="let element" class="column-actions">
          <div class="action-buttons">
            <button mat-icon-button color="primary" class="edit-button"
                    [routerLink]="['edit', element.id]"
                    matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" class="delete-button"
                    (click)="excluir(element.id)"
                    matTooltip="Excluir">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[8, 16, 24, 32]" 
                  showFirstLastButtons
                  [length]="totalRecords"
                  [pageSize]="pageSize"
                  (page)="paginar($event)"
                  class="custom-paginator">
    </mat-paginator>
  }
</div>