<mat-toolbar color="primary" class="especificacao-form-toolbar">
  <div class="toolbar-content">
    <span class="toolbar-title">
      {{ formGroup.get('id')?.value ? 'Editar Especificação Técnica' : 'Nova Especificação Técnica' }}
    </span>
  </div>
</mat-toolbar>

<div class="form-container">
  <mat-card class="form-card mat-elevation-z8">
    <mat-card-content>
      <form [formGroup]="formGroup">
        <!-- Memória -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Memória (GB)</mat-label>
          <input matInput type="number" formControlName="memoria" required>
          <mat-icon matSuffix>memory</mat-icon>
          <mat-error *ngIf="formGroup.get('memoria')?.hasError('required')">
            Memória é obrigatória
          </mat-error>
        </mat-form-field>

        <!-- Clock -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Clock (MHz)</mat-label>
          <input matInput type="number" formControlName="clock" required>
          <mat-icon matSuffix>speed</mat-icon>
          <mat-error *ngIf="formGroup.get('clock')?.hasError('required')">
            Clock é obrigatório
          </mat-error>
        </mat-form-field>

        <!-- Barramento -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Barramento (bit)</mat-label>
          <input matInput type="number" formControlName="barramento" required>
          <mat-icon matSuffix>device_hub</mat-icon>
          <mat-error *ngIf="formGroup.get('barramento')?.hasError('required')">
            Barramento é obrigatório
          </mat-error>
        </mat-form-field>

        <!-- Consumo de Energia -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Consumo de Energia (W)</mat-label>
          <input matInput type="number" formControlName="consumoEnergia" required>
          <mat-icon matSuffix>bolt</mat-icon>
          <mat-error *ngIf="formGroup.get('consumoEnergia')?.hasError('required')">
            Consumo de energia é obrigatório
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions class="form-actions">
      <button mat-raised-button color="primary" (click)="salvar()" [disabled]="formGroup.invalid" class="action-button">
        <mat-icon>save</mat-icon>
        Salvar
      </button>
      <button mat-raised-button color="warn" (click)="excluir()" *ngIf="formGroup.get('id')?.value" class="action-button">
        <mat-icon>delete</mat-icon>
        Excluir
      </button>
      <button mat-stroked-button routerLink="/admin/especificacoes-tecnicas" class="action-button">
        <mat-icon>cancel</mat-icon>
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card>
</div>