.toolbar-title {
    flex: 1;
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.mat-column-id {
    width: 5em;
    text-align: center;
    padding-right: 24px;
}

.mat-column-nome {
    flex-grow: 1;
}

.mat-column-acao {
    width: 10em;
    text-align: center;
}

table {
    width: 100%;
}