@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  background-attachment: fixed;
}

.success-snackbar {
  background: #00c4b4 !important;
  color: white !important;
}
.success-snackbar button {
  color: white !important;
}
.error-snackbar {
  background: #ff4444 !important;
  color: white !important;
}
.error-snackbar button {
  color: white !important;
}






