<mat-drawer-container class="container">

    <mat-drawer #drawer mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>Home</mat-list-item>
            <mat-list-item routerLink="/admin/placasdevideo">Controle de Placas de Vídeo</mat-list-item>
            <mat-list-item routerLink="/admin/fabricantes">Controle de fabricantes</mat-list-item>
            <mat-list-item routerLink="/admin/especificacoes-tecnicas">Controle de Especificações Técnicas</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
